modules = ["c", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Cubiomes"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Build Cubiomes"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x build.sh && ./build.sh && cd cubiomes && gcc ../verify_build.c -o verify_build -I. libcubiomes.a -lm && ./verify_build"

[[workflows.workflow]]
name = "Run"
author = 4148307

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./verify_build"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "chmod +x build.sh && ./build.sh && cd cubiomes && gcc ../verify_build.c -o verify_build -I. libcubiomes.a -lm && ./verify_build"]

[[ports]]
localPort = 5000
externalPort = 80
